h1{
    margin: 10px;
}

p,h2{
    padding-left: 10px;
}

.title-bar{
    color: white;
    /* background-color: black; */
    /* text-align: center; */
    background-color: #E8AA42;
}


.title-bar-sources{
    color: black;
    /* background-color: black; */
    /* text-align: center; */
    background-color: #AAEE42;
}

.card-container{
    padding-bottom: 100px;
}
.link-container{
    text-align: center;
    margin-top: 3rem;
}

.bottom-link{
    color: white;
    border: 3px solid #E8AA42;
    padding: 5px;
    background-color: #E8AA42;
    text-decoration: none;
}

.source-link {
    color: aqua;
}